<h1>Questions#Index</h1>
<% @questions.each do |question| %>
  <p><%= question.category %></p>
  <p><%= question.content %></p>
<% end %>

<%= link_to "Submit para o meio", meio_path, class: "btn btn-primary" %>
