a {
  text-decoration: none !important;
}
body {
  background-color: white !important;
}
<<<<<<< Updated upstream
=======

.container-app {
  display: block;
  overflow: hidden;
  min-height: 1000px;
  padding: 5vh 100px 5vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px none #000;
  text-align: left;
}
>>>>>>> Stashed changes
