a {
  text-decoration: none !important;
}

body {
  background-color: white !important;
}
.container-app {
  display: flex;
  overflow: hidden;
  padding: 5vh 100px 5vh;
  border-bottom: 1px none #000;
  text-align: left;
  min-height: calc(100vh - 132px);
  flex-direction: column;
  justify-content: center;
}
