<%= simple_form_for(current_user, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete, class:'text text-danger' %></p>
<% end %>
