// grid.layoutit.com?id=pzMJ8ya grid
.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 5fr 5fr 5fr 5fr 5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    //"navbar navbar navbar"

    "banner banner banner"
    "value-proposition value-proposition value-proposition"
    "social-prove social-prove social-prove"
    "benefits benefits benefits"
    "jorney jorney jorney";
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }
  max-height: 100vh;
  color: white;
  text-align: center;
}
.navbar {
  grid-area: navbar;
  background-color: rgba(255, 255, 255, 0);
}

.banner {
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". banner-content ."
    ". . .";
  grid-area: banner;
  background-image: url("https://cdn.pixabay.com/photo/2017/03/25/17/55/colorful-2174045__480.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.banner-content {
  justify-self: center;
  align-self: center;
  grid-area: banner-content;
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 6rem;
  }
  p {
    font-weight: light;
    font-size: 3rem;
  }
}

.value-proposition {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". value-proposition-content value-proposition-image ."
    ". . . .";
  grid-area: value-proposition;
  background-color: white;
  height: 100vh;
  color: $main-blue;
}

.value-proposition-content {
  justify-self: center;
  align-self: center;
  grid-area: value-proposition-content;
  text-align: left;
}

.value-proposition-image {
  justify-self: center;
  align-self: center;
  grid-area: value-proposition-image;
}

.social-prove {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". social-prove-content social-prove-content ."
    ". social-prove-cards social-prove-cards ."
    ". . . .";
  grid-area: social-prove;
  background-color: $main-blue;
  height: 100vh;
}

.social-prove-content {
  justify-self: center;
  align-self: center;
  grid-area: social-prove-content;
}

.social-prove-cards {
  justify-self: center;
  align-self: center;
  grid-area: social-prove-cards;
  display: flex;
}

.benefits {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". benefits-content benefits-image ."
    ". . . .";
  grid-area: benefits;
  background-color: white;
  color: $main-blue;
  height: 100vh;
}

.benefits-content {
  justify-self: center;
  align-self: center;
  grid-area: benefits-content;
}

.benefits-image {
  justify-self: center;
  align-self: center;
  grid-area: benefits-image;
}

.jorney {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 2fr 2fr 2fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    ". jorney-first-content jorney-first-image ."
    ". jorney-second-image jorney-second-content ."
    ". jorney-third-content jorney-third-image ."
    ". jorney-fourth-image jorney-fourth-content ."
    ". . . .";
  grid-area: jorney;
  background-color: $main-blue;
  max-height: 400vh;
}

.jorney-first-content {
  justify-self: center;
  align-self: center;
  grid-area: jorney-first-content;
  text-align: left;
}

.jorney-first-image {
  justify-self: center;
  align-self: center;
  grid-area: jorney-first-image;
}

.jorney-second-image {
  justify-self: center;
  align-self: center;
  grid-area: jorney-second-image;
}

.jorney-second-content {
  justify-self: center;
  align-self: center;
  grid-area: jorney-second-content;
  text-align: right;
}

.jorney-third-content {
  justify-self: center;
  align-self: center;
  grid-area: jorney-third-content;
  text-align: left;
}

.jorney-third-image {
  justify-self: center;
  align-self: center;
  grid-area: jorney-third-image;
}

.jorney-fourth-image {
  justify-self: center;
  align-self: center;
  grid-area: jorney-fourth-image;
}

.jorney-fourth-content {
  justify-self: center;
  align-self: center;
  grid-area: jorney-fourth-content;
  text-align: right;
}
