<div class="pages-banner"></div>
<div class="container-app">
  <div class="title-wrapper">
    <h1><%= translate(@current_phase) %></h1>
    <div class="content-wrapper">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis
        viverra ornare, eros dolor interdum nulla, ut commodo diam libero
        vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
        imperdiet. Nunc ut sem vitae risus tristique posuere.
      </p>
    </div>
    <div class="buttons-wrapper">
      <%= link_to "Quero Entender Melhor", educacao_path, class: "btn-app education" %>
      <%= link_to "Bora pro teste", questoes_path, class: "btn-app next-step" %>
    </div>
  </div>
</div>
