<div class="container col-4">
  <h1><%= @current_phase %></h1>

  <p>
    <%# @educational.content_url%>
    Aqui é Body Builder Ipsum PORRA! É 37 anos caralho! Sai filho da puta! Ó o homem ali porra!, é 13 porra! Aqui é Body Builder Ipsum PORRA! É verão o ano todo vem cumpadi.

    Vem porra! É 37 anos caralho! Ajuda o maluco que tá doente. Vo derrubar tudo essas árvore do parque ibirapuera.

    Sai de casa comi pra caralho porra. Aqui é Body Builder Ipsum PORRA! Eita porra!, tá saindo da jaula o monstro!

    Aqui nóis constrói fibra, não é água com músculo. Sabe o que é isso daí? Trapézio descendente é o nome disso aí.
  </p>

  <%= link_to "Quero Entender Melhor", educacao_path({fase: @current_phase}), class: "btn btn-success" %>
  <%= link_to "Bora pro teste", questoes_path, class: "btn btn-primary" %>
</div>
