<div class="pages-banner"></div>
<div class="container-app">
  <div class="title-wrapper">
    <h1><%= translate(@current_phase) %></h1>
    <div class="content-wrapper">
      <p style="text-align: center;">
      <%= SD_DESCRIPTION[@current_phase]["description"] %>
      </p>
    </div>
    <div class="button-wrapper">
      <%= link_to "Quero Entender Melhor", educacao_path, class: "btn-app education" %>
      <%= link_to "Bora pro teste", questoes_path, class: "btn-app next-step" %>
    </div>
  </div>
</div>
