<div class="container">
  <h1>Fim da linha, <%= current_user.name %>!</h1>
  <% if params[:oath].present? %>
    <p>Eu juro sim!</p>
    <%= link_to 'Voltar para questoes', questoes_path, class: 'btn btn-primary' %>
  <% else params[:watch].present? %>
    <p>Vou assitir mais tarde!</p>
    <%= link_to 'Voltar para o educativo', educacao_path, class: 'btn btn-primary' %>
  <% end %>
  <br>
  <p>Caso não era o que voce esperava da sua jornada click aqui e nós entraremos em contato </p>
  <%= link_to "Entraremos em contato!", root_path, class: "btn btn-danger"  %>
</div>
