<div class="container-grid">
  <%# <div class="navbar"><p>navbar-teste</p></div> %>
  <div class="banner">
    <div class="banner-content">
      <h1>Sai Dessa</h1>
      <p>Eu nunca tinha pensado nisso!</p>
      <%= link_to "Bora pros testes!", fase_path, class: "button next"%>
    </div>
  </div>
  <div class="value-proposition">
    <div class="value-proposition-content">
      <h2>Para quem busca ser feliz de segunda a segunda</h2>
      <h2>Chega de passar a vida esperando os finais de semana, seu trabalho pode ser algo que você ame fazer</h2>
    </div>
    <div class="value-proposition-image"><img src="https://picsum.photos/600/600?1"></div>
  </div>
  <div class="social-prove">
    <div class="social-prove-content">
      <h2>90% dos CLTs brasileiros estão insatisfeitos com seus trabalhos</h2>
      <h2>60% tem medo de mudar de emprego ou não sabem o que os faria feliz</h2>
    </div>
    <div class="social-prove-cards">
      <div class="card-social-prove">
        <div class="card-image"><img src="https://picsum.photos/600/600?7"></div>
        <div class="card-content">
          <div class="name">
            <h2>lorem</h2>
          </div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti, eum!</p>
          </div>
        </div>
      </div>

      <div class="card-social-prove">
        <div class="card-image"><img src="https://picsum.photos/600/600?8"></div>
        <div class="card-content">
          <div class="name">
            <h2>lorem</h2>
          </div>
          <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, iure!</p>
          </div>
        </div>
      </div>

      <div class="card-social-prove">
        <div class="card-image"><img src="https://picsum.photos/600/600?9"></div>
        <div class="card-content">
          <div class="name">
            <h2>lorem</h2>
          </div>
          <div class="text">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Officiis, error.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="benefits">
    <div class="benefits-content">
      <h2>Super divertido</h2>
      <h2>Simplificado</h2>
      <h2>Transparente</h2>
      <h2>Focado em você</h2>
    </div>
    <div class="benefits-image"><img src="https://picsum.photos/600/600?2"></div>
  </div>
  <div class="jorney">
    <div class="jorney-first-content">
      <h2>Auto Conhecimento</h2>
      <h2>Objetivo de vida</h2>
      <h2>Valores pessoais</h2>
    </div>
    <div class="jorney-first-image"><img src="https://picsum.photos/600/600?3"></div>
    <div class="jorney-second-image"><img src="https://picsum.photos/600/600?4"></div>
    <div class="jorney-second-content">
      <h2>Hard e soft Skills</h2>
      <h2>Pontos fortes e pontos fracos</h2>
    </div>
    <div class="jorney-third-content">
      <h2>Empresas que combinam com você</h2>
      <h2>No que focar</h2>
    </div>
    <div class="jorney-third-image"><img src="https://picsum.photos/600/600?5"></div>
    <div class="jorney-fourth-image"><img src="https://picsum.photos/600/600?6"></div>
    <div class="jorney-fourth-content">
      <h2>Como se preparar para entrevista</h2>
      <h2>Seu sim esta cada dia mais próximo</h2>
    </div>
  </div>
</div>
