<div class="container-grid">
  <div class="navbar"><p>navbar-teste</p></div>
  <div class="banner">
    <div class="banner-content"><h1>Sai Dessa</h1>
  <p>eu nunca tinha pensado nisso</p>
  <%= link_to "Caminho para fases", fase_path, class: "btn btn-primary" %></div>
  </div>
  <div class="value-proposition">
    <div class="value-proposition-content"> <h2>Para quem busca ser feliz de segunda a segunda</h2>
  <p>Chega de passar a vida esperando os finais de semana, seu trabalho pode ser algo que você ame fazer</p></div>
    <div class="value-proposition-image"></div>
  </div>
  <div class="social-prove">
    <div class="social-prove-content"><h2>90% dos CLTs brasileiros estão insatisfeitos com seus trabalhos</h2>
  <h2>x% tem medo de mudar de emprego</h2>
  <h2>y% não sabem o que os faria feliz</h2></div>
    <div class="social-prove-cards"></div>
  </div>
  <div class="benefits">
    <div class="benefits-content"><h2>Super divertido</h2>
  <h2>Simplificado</h2>
  <h2>Transparente</h2>
  <h2>Focado em você</h2></div>
    <div class="benefits-image"></div>
  </div>
  <div class="jorney">
    <div class="jorney-first-content"><h2>Auto- conhecimento</h2>
  <h2>Objetivo de vida</h2>
  <h2>Valores pessoais</h2></div>
    <div class="jorney-first-image"></div>
    <div class="jorney-second-image"></div>
    <div class="jorney-second-content"><h2>Hard e soft Skills</h2>
  <h2>Pontos fortes e pontos fracos</h2></div>
    <div class="jorney-third-content"><h2>Empresas que combina com você</h2>
  <h2>No que focar</h2></div>
    <div class="jorney-third-image"></div>
    <div class="jorney-fourth-image"></div>
    <div class="jorney-fourth-content"><h2>Como se preparar para entrevista</h2>
  <h2>Seu sim esta cada dia mais próximo</h2></div>
  </div>
</div>
