<div class="pages-banner"></div>
<div class="container-app">
  <div class="title-wrapper">
    <h2> Parabens, <%= current_user.name.capitalize() %>!</h2>
    <h1 style="color:#785df5">Você Saiu Dessa!</h1>
    <div class="content-wrapper">
      <p>
        Voce chegou no fim da nossa jornada! Hoje você entra no time de pessoas felizes!
      </p>
    </div>
    <%= link_to "De seu Feedback!", root_path, class: "btn-app feedback"  %>
  </div>
</div>
