<div class="pages-banner"></div>
<div class="container-app">
  <div class="title-wrapper">
    <h1>Parabens, <%= current_user.name.capitalize() %>!</h1>
    <div class="content-wrapper">
      <p>
        <h1>Parabens, <%= current_user.name.capitalize() %>!</h1>
        Voce chegou no fim da nossa jornada! Hoje você entra no time de pessoas que <h1 style="color:$main">Sairam Dessa</h1>!
      </p>
    </div>
    <%= link_to "De seu Feedback!", root_path, class: "btn-app feedback"  %>
  </div>
</div>
