.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 10px 70px;
  height: 132px;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 48px;
  img {
    width: 128px !important;
    height: 128px !important;
  }
  h1 {
    font-size: 62px;
    line-height: 0px;
    transform: translateX(50px) translateY(-60px);
    color: #000000;
    font-family: "Amatic SC", cursive;
    margin: 0;
  }
}

.nav-item {
  font-size: 24px;
  line-height: 63px;
}

.dropdown-item {
  line-height: 2.5;
}

.left-side {
  display: flex;
  align-items: center;
}

// Progress
.progress {
  position: relative;
  height: 67px;
  background-color: $main;
  mask: asset-url("path.svg") top left / cover;
  -webkit-mask: asset-url("path.svg") top left / cover;
  img {
    visibility: hidden;
  }
}

.progress-bg {
  background-color: rgb(207, 207, 207);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  &.first_phase {
    animation-name: toFirstPhase;
  }
  &.second_phase {
    animation-name: toSecondPhase;
  }
  &.third_phase {
    animation-name: toThirdPhase;
  }
  &.fourth_phase {
    animation-name: toFourthPhase;
  }
  &.completed {
    animation-name: toComplete;
  }
}

@keyframes toFirstPhase {
  from {
    left: 0%;
  }
  to {
    left: 30%;
  }
}
@keyframes toSecondPhase {
  from {
    left: 30%;
  }
  to {
    left: 50%;
  }
}
@keyframes toThirdPhase {
  from {
    left: 50%;
  }
  to {
    left: 70%;
  }
}
@keyframes toFourthPhase {
  from {
    left: 70%;
  }
  to {
    left: 90%;
  }
}
@keyframes toComplete {
  from {
    left: 90%;
  }
  to {
    left: 110%;
  }
}
