.question {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 130px 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.question-choices {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.heading-5 {
  color: #56ac8a;
  font-weight: 300;
}

.heading-7 {
  color: #5f394d;
  font-weight: 300;
}

.button {
  margin-right: 25px;
  margin-left: 25px;
  padding: 25px;
  border-radius: 50%;
}

.button.big {
  min-height: 40px;
  min-width: 0px;
  padding: 30px;
  background-color: #56ac8a00;
  border: 1px solid #56ac8a;
}

.button.medium {
  margin: 20px;
  padding: 20px;
  background-color: #56ac8a00;
  border: 1px solid #56ac8a;
}

.button.small {
  padding: 10px;
  background-color: #9b9faa00;
  border: 1px solid #9b9faa;
}

.button.medium.desagree {
  background-color: #5f394d00;
  border: 1px solid #5f394d;
}

.button.big.desagree {
  background-color: #5f394d00;
  border: 1px solid #5f394d;
}

.background-brown {
  background-color: $main-brown !important;
}

.background-gray {
  background-color: $main-gray !important;
}

.background-green {
  background-color: $main-green !important;
}
