<h1>Educations#show</h1>
<p>Find me in app/views/educations/show.html.erb</p>

<% @educations.each do |education| %>
  <iframe width="420" height="315"
  src="<%= education.content_url %>">
  </iframe>
<% end %>
<br>
<%= link_to @next_path[:text], @next_path[:path], class: "btn btn-primary" %>
<% if !params[:fase].present? %>
  <%= link_to "Não assisti os conteudos", fim_path({ watch: "" }), class: "btn btn-danger"  %>
<% end %>
