<div class="videos-banner">
  <div class="title-wrapper">
    <h1>Videos Educativos</h1>
  </div>
</div>
<div class="container-app">
  <div class="title-wrapper">
  <% @categories.each do |category| %>
    <h2>Esse vídeo é sobre <%= translate(category) %></h2>
  </div>
  <div class="videos-wrapper">
    <% @educations.where(category: category).each do |education| %>
        <%= cl_video_tag(education.content_url, class: "mb-4", loop: false, controls: true,
                            transformation: [height:360, width:640, crop:"fill", duration:"10"]) %>
    <% end %>
  <% end %>
  </div>
  <div class="buttons-wrapper">
    <%= link_to @next_path[:text], @next_path[:path], class: "btn-app next-step" %>
    <% unless current_user.phase_not_started? %>
      <%= link_to "Não assisti os conteudos", fim_path({ watch: "Voltar pro conteudo" }), class: "btn-app feedback"  %>
    <% end %>
  </div>
</div>
